<img class="burger" src="https://png.pngtree.com/element_origin_min_pic/17/04/06/7a609d5ba30bfe5ca1abcd418d7c95d6.jpg"/><h1 class="center">Eat my burgers - they're delicious!</h1>
{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}


<h2 class="left">Burgers that need to be devoured!:</h2>

<ul class="left list"> 
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>
{{!-- //burgers/burger-block accesses partial hbrs and table name --}}
<ul class="right list">
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2 class="center">Add a Burger</h2>
<form class="create-form center">

  <div class="form-group center">
    <label for="burger" class="center">Burger Name:</label>
    <br><br>
    <input type="text" id="burger" name="name">
  </div>
  <br>
{{!-- Create a button in index.handlebars that will submit the user input into the database. --}}
  <button id="submit" class="add">Add Burger</button>
</form>
