.center {
  text-align: center;
}

body {
    background-color: gold;
}

.burger {
  width: 200px;
  position: relative;
  margin: 0 auto;
  margin-left: 40%;
  border: 4px thin cadetblue;
}

.left {
    text-align: left;
    margin-left: 15%;
}

.right {
    text-align: right;
    margin-right: 15%;
}

.list {
  list-style: none;
}

.pb {
    padding-bottom: 10px;
}

.done {
  color: grey;
    
}

.done,
.done[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  padding: 2px 2px 2px 2px;
  
}