.center {
  text-align: center;
}

body {
    background-color: gold;
}

.burger {
  width: 200px;
  position: relative;
  margin: 0 auto;
  margin-left: 40%;
  border: 4px thin cadetblue;
}

.left {
    text-align: left;
    margin-left: 15%;
}

.right {
    text-align: right;
    margin-right: 15%;
}

.list {
  list-style: none;
}

.pb {
    padding-bottom: 10px;
}

